# Bu dosyayı .env olarak kopyalayın ve değerleri doldurun
SECRET_KEY=supersecret_change_me
JWT_SECRET_KEY=jwtsecret_change_me
DATABASE_URL=postgresql://postgres:postgres@db:5432/never_hacked
LOG_LEVEL=INFO
